*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
	text-decoration: none;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 45%;
    text-align: center;
    margin: 10px 0;
}

.product img {
    max-width: 75%;
    height: 75%;
}

.product p {
    margin-top: 15px;
    color: blue;
    font-size: 16px;
}

#voltar {
    font-size: 19px;
    position: fixed;
    top: 20px; /* Ajuste para o topo */
    left: 20px; /* Ajuste para a esquerda */
    z-index: 100;
    display: block;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#voltar:hover {
    background-color: lightblue;
    color: darkblue;
}

@media (max-width: 600px) {
    .product {
        width: 100%;
    }
    .product img {
        height: 65%;
    }
    #voltar{
        font-size: 15px;
        padding: 6px 15px;
    }
    .product p {
        font-size: 15px;
    }
}
