/* Rodape Styles */

/* Estilos gerais para o rodapé */
footer {
  display: flex; /* Utiliza flexbox para layout */
  justify-content: center; /* Centraliza os itens no eixo principal */
  align-items: center; /* Centraliza os itens no eixo secundário */
  margin-top: auto; /* Garante que o rodapé está no final da página */
  background-color: darkblue; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto */
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
}

/* Estilos para as colunas dentro do rodapé */
footer .footer-col {
  flex: 1; /* Cada coluna ocupa a mesma parte do espaço disponível */
  min-width: 200px; /* Largura mínima das colunas */
  margin: 20px; /* Margem ao redor das colunas */
  text-align: center; /* Alinhamento do texto centralizado */
}

/* Estilos para links de e-mail no rodapé */
footer a[href^="mailto"] {
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado padrão */
  font-weight: bold; /* Texto em negrito */
}

/* Estilos de hover para links de e-mail */
footer a[href^="mailto"]:hover {
  transition: color 0.4s, text-decoration 0.4s; /* Transições suaves */
  color: rgb(179, 179, 179); /* Cor do texto ao passar o mouse */
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Estilos para títulos no rodapé */
footer h4, footer .titulo_rodape {
  font-size: 22px; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  margin-top: 14px; /* Margem superior */
  margin-bottom: 20px; /* Margem inferior */
  color: #f1bc0d; /* Cor do texto */
}

/* Estilos específicos para o título h4 no rodapé */
footer h4 {
  margin-top: 5px; /* Ajuste de margem superior */
  margin-bottom: 30px; /* Ajuste de margem inferior */
}

/* Estilos para os links de redes sociais no rodapé */
footer .links {
  display: flex; /* Utiliza flexbox para layout */
  justify-content: center; /* Centraliza os itens no eixo principal */
  gap: 16px; /* Espaçamento entre os ícones */
}

/* Estilos para cada ícone de rede social no rodapé */
footer .links a {
  height: 44px; /* Altura dos ícones */
  width: 44px; /* Largura dos ícones */
  display: inline-flex; /* Mostra como inline-flex para centralização vertical */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  color: white; /* Cor do texto */
  background-color: rgba(40, 130, 214, 0.8); /* Cor de fundo com transparência */
  border-radius: 50%; /* Borda arredondada */
  transition: background-color 0.4s; /* Transição suave */
}

/* Estilos de hover para ícones de redes sociais */
footer .links a:hover {
  background-color: white; /* Cor de fundo ao passar o mouse */
  color: #4d4f55; /* Cor do texto ao passar o mouse */
}

/* Estilos para o título e parágrafo de localizações no rodapé */
footer #rodape_local {
  font-size: 22px; /* Tamanho da fonte */
  margin-top: 14px; /* Margem superior */
  margin-bottom: 14px; /* Margem inferior */
  font-weight: bold; /* Texto em negrito */
}

footer #paragrafo_local {
  font-size: 15px; /* Tamanho da fonte */
  color: white; /* Cor do texto */
}

/* Estilos para a seção de localizações no rodapé */
footer #localizacoes {
  display: flex; /* Utiliza flexbox para layout */
  justify-content: space-between; /* Espaço entre as colunas */
  flex-wrap: wrap; /* Permite que as colunas quebrem para a próxima linha em telas menores */
}

/* Estilos para cada coluna de localização no rodapé */
footer #localizacoes .coluna {
  width: calc(50% - 40px); /* Largura de 50% com espaço entre colunas */
}

/* Estilos específicos para as colunas de sede e estádio no rodapé */
footer #sede,
footer #estadio {
  width: 100%; /* Largura total para se adaptar à largura do contêiner pai em telas menores */
}

/* Estilos para a seção de parceiros no rodapé */
footer .parceiros {
  background-color: rgb(223, 223, 223); /* Cor de fundo para o div */
  padding: 20px; /* Espaçamento interno */
  display: flex; /* Utiliza flexbox para layout */
  justify-content: space-around; /* Distribui os logos igualmente */
  align-items: center; /* Centraliza os itens no eixo secundário */
  flex-wrap: wrap; /* Permite que os logos quebrem para a próxima linha em telas menores */
  margin-top: 20px; /* Margem superior */
  margin-bottom: 20px; /* Margem inferior */
}

/* Estilos para cada imagem de parceiro no rodapé */
footer .parceiros img {
  max-width: 100px; /* Largura máxima das imagens dos parceiros */
  margin: 10px; /* Espaçamento entre as imagens */
  transition: max-height 0.4s, max-width 0.4s; /* Transição suave */
  margin-top: 30px;/* Tmargem por cima das imagens para nao ficarem muito juntas */
}

/* Estilos de hover para imagens de parceiros */
footer .parceiros img:hover {
  transform: scale(1.1); /* Aumenta em 10% quando o mouse passa por cima */
}

/* Media Queries para Responsividade */

/* Estilos para telas menores que 808px */
@media (max-width: 808px) {
  /* Estilos para o rodapé */
  footer {
    flex-direction: column; /* Altera a direção do flexbox para empilhar os elementos */
    text-align: center; /* Alinhamento central do texto */
    align-items: center; /* Centraliza os itens no eixo vertical */
    padding: 10px; /* Adiciona padding para o rodapé */
  }

  /* Estilos para texto e links no rodapé */
  footer p,
  footer #paragrafo_local,
  .links {
    font-size: 14px; /* Tamanho da fonte */
  }

  /* Estilos para títulos no rodapé */
  footer h4,
  footer .titulo_rodape,
  footer #rodape_local {
    font-size: 16px; /* Tamanho da fonte */
  }

  /* Estilos para ícones de redes sociais no rodapé */
  footer .links a {
    height: 35px; /* Altura dos ícones */
    width: 35px; /* Largura dos ícones */
  }

  /* Estilos para colunas no rodapé */
  footer .footer-col {
    margin: 10px 0; /* Reduz a margem vertical para telas menores */
  }

  /* Estilos para seção de localizações no rodapé */
  footer #localizacoes {
    flex-direction: column; /* Altera a direção do flexbox para empilhar os elementos */
  }

  /* Estilos para cada coluna de localização no rodapé */
  footer #localizacoes .coluna {
    width: 100%; /* Largura total para empilhar as colunas uma sobre a outra em telas menores */
    margin: 10px 0; /* Reduz a margem vertical para cada coluna */
  }

  /* Estilos para colunas específicas no rodapé */
  footer #sede,
  footer #estadio {
    width: 100%; /* Largura total para se adaptar à largura do contêiner pai */
  }
}

/* Estilos para telas menores que 600px */
@media (max-width: 600px) {
  /* Estilos para a seção de parceiros no rodapé */
  footer .parceiros {
    flex-direction: column; /* Empilha os logos verticalmente em telas menores */
    text-align: center; /* Alinhamento central do texto */
  }

  /* Estilos para imagens de parceiros no rodapé */
  footer .parceiros img {
    max-width: 35%; /* Largura máxima ajustada para telas menores */
    max-height: 80px; /* Altura máxima ajustada para telas menores */
  }
}
